<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">

  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        Descripción
      </th>
      <th scope="col" class="px-6 py-3">
        Colaborador
      </th>
      <th scope="col" class="px-6 py-3">
        Estado
      </th>
      <th scope="col" class="px-6 py-3">
        Prioridad
      </th>
      <th scope="col" class="px-6 py-3">
        Inicio - Fin
      </th>
      <th scope="col" class="px-6 py-3">
        Acciones
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of Tasks"
      class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
      <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
        <div class="ps-3">
          <div class="text-base font-semibold">{{item.description}}</div>
        </div>
      </th>
      <td class="px-6 py-4">
        {{item.collaboratorName}}
      </td>
      <td class="px-6 py-4">
        <div class="flex items-center">
          <div class="{{setStatusIcon(item.status)}} h-2.5 w-2.5 rounded-full  me-2"></div>
          {{item.status | statusTask}}
        </div>
      </td>
      <td class="px-6 py-4">
        <div class="flex items-center">
          <div class="{{setPriorityIcon(item.pripriorityCode)}} h-2.5 w-2.5 rounded-full me-2"></div>
          {{item.pripriorityCode | priorityTask}}
        </div>
      </td>
      <td class="px-6 py-4">
        {{item.startDate | date}} / {{item.endDate | date}}
      </td>
      <td class="px-6 py-4">
        <!-- Modal toggle -->
        <a href="#" type="button" (click)="OnEditModal(item)" data-modal-target="editUserModal"
          data-modal-toggle="editUserModal" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Editar
          &nbsp; </a>

        <a href="#" type="button" (click)="onDelete(item.id)"
          class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> Eliminar</a>
      </td>
    </tr>
  </tbody>
</table>